<h3>DISPLAY FORM WITH FIELDS TO ADD A NEW RECIPE AND SUBMIT</h3>

<form action='/recipes/new' method="POST">
  <label for="name">Recipe Name: </label>
  <p><input type="text" name="name"/></p>
  <label for="ingredients">Ingredients: </label>
  <p><input type="text" name="ingredients"/></p>
  <label for="cook_time">Cook Time: </label>
  <p><input type="text" name="cook_time"/></p>
  </br>
  <input type="submit" name="submit" value="Add Recipe/>
</form>



