<h3>DISPLAY A RECIPE FOUND BY ITS ID</h3>
<p>With links to edit or delete, and also to add new recipe and see all recipes</p>

<h5>Name: <%= @recipe.name %></h5>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Cook Time: <%= @recipe.cook_time %></p>

<form action="/recipes/<%=@recipe.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete" />
</form>

