<h3>DISPLAY A RECIPE FOUND BY ITS ID</h3>
<p>With links next to each to the recipe page, and to edit or delete</p>
<h3>SHOW LINK TO ADD NEW RECIPE</h3>


get 'recipes/:id'
  @recipe = Recipe.find_by_id(params[:id])
  erb :show 
end 